@import "./variables.scss";
@import "./css-reset";
@import "./welcomepage.scss";
 @import "./searchpage.scss";
 @import "./cathegorypage.scss";
 @import "./searchpage.scss";
 @import "./videopage.scss";

html {
  box-sizing: border-box;
  // animation: fadein 0.8727s;
}

html,
body {
 
}

header {
  background-color: white;
}


.headerbuffer {
  height: $header-height;
}
 @media ($mediaq-headerchange-height) {
  .headerbuffer {
    height: $header-height-mobile;
  }
}
//   .Site-content {
//     padding-top: $header-height-mobile;
//   }
//   .Site-content::after {
//     margin-top: $header-height-mobile;
//   }
// }


header.sub {
  display: flex;
  justify-content: space-evenly;
}

body {
  background: $body_background;
  font-size: $body_font-size;
  margin: 0;
  padding: 0;
  z-index: -100;
  display: flex;
  flex-direction: column;
  color: white;
}
// @keyframes fadein {
//   from { opacity: 0}
//   to   { opacity: 1}
// }

li, p, h6, h5, h4, h3, h2 {
  font-family: $font-roboto;
}

h2 {
  font-family: $font-roboto;
}

h1 {
  font-family: $font-roboto;
}
header {
  font-family: $font-roboto;
}

article {
  p {
    font-size: 16px;
  }
} 

body { 
  flex: 0 1 auto; 
  overflow: none;
  min-height: 100vh;
  width: 100%;
}


footer {
  flex-shrink: 0;
  color: black;
  margin-top:auto;

  background-color: #ff9d00;
}

