@import "./variables.scss";
//@import "./plyr.scss";

html {
  box-sizing: border-box;
  // animation: fadein 0.8727s;
}

html,
body {
 
}

header {
  background-color: white;
  z-index: 1000;
  color: black;
  display: flex;
  
  z-index: 10;   
  position: fixed;
  width: 100%;
}


.headerbuffer {
  height: $header-height;
}
 @media ($mediaq-headerchange-height) {
  .headerbuffer {
    height: $header-height-mobile;
  }
}
//   .Site-content {
//     padding-top: $header-height-mobile;
//   }
//   .Site-content::after {
//     margin-top: $header-height-mobile;
//   }
// }


header.sub {
  display: flex;
  justify-content: space-evenly;
}

body {
  background: $body_background;
  font-size: $body_font-size;
  margin: 0;
  padding: 0;
  z-index: -100;
  display: flex;
  flex-direction: column;

  color: white;
}
// @keyframes fadein {
//   from { opacity: 0}
//   to   { opacity: 1}
// }

li, p, h6, h5, h4, h3, h2 {
  font-family: $font-raleway;
}

h2 {
  font-family: $font-jacques;
}

h1 {
  font-family: $font-imfellfrench;
}
header {
  font-family: $font-revalia;
}

article {
  p {
    font-size: 16px;
  }
} 

// .pagewrapper {
//   margin: 4px;
//   margin-top: 48px;
//   padding: 2px;
//   }

body { 
  flex: 0 1 auto; 
  overflow: none;
  //margin: $header-height 0 $header-height 0;
  min-height: 100vh;
  width: 100%;
}

// header::before {
//   content: '\00a0'; /* &nbsp; */
//   display: block;
//   margin-top: $header-height;
//   height: 0px;
//   visibility: hidden;
// }




// header,
// footer {
//   flex: none; /* 2 */
// }

footer {
  flex-shrink: 0;
  color: black;
  margin-top:auto;

  background-color: #ff9d00;
}

