$body_background: black;
$body_font-size: 50px;



$font-raleway: 'Raleway', sans-serif;

$font-imfellfrench: 'IM Fell French Canon', serif;

$font-revalia: 'Revalia', cursive;

$font-jacques: 'Jacques Francois', serif;


$mediaq-headerchange-height: 800px;
$header-height: 80px;
$header-height-mobile: 50px;
