$body_background: black;
$body_font-size: 14px;


@font-face {
    font-family: Roboto;
    src: url(/static/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
  }

  @font-face {
    font-family: Roboto Condensed;
    src: url(/static/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
    font-weight: normal;
  }

  @font-face {
    font-family: Roboto Mono;
    src: url(/static/fonts/Roboto_Mono/RobotoMono-Regular.ttf);
    font-weight: normal;
  }

  @font-face {
    font-family: Satisfy;
    src: url(/static/fonts/Satisfy/Satisfy-Regular.ttf);
    font-weight: normal;
  }


$font-roboto: 'Roboto', sans-serif;
$font-robotocondensed: 'Roboto Condensed', sans-serif;
$font-robotomono: 'Roboto Mono', monospace;
$font-satisfy: 'Satisfy', cursive;



$mediaq-headerchange-height: 800px;
$header-height: 62px;
$header-height-mobile: 50px;
